# This workflow will install Python dependencies and run tests.
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Build and test Welcome Demo

on:
  workflow_dispatch:
  push:
    # When PRs are merged to master, run tests on the HEAD of master.
    branches: [ master ]
    paths-ignore:
      - '**.md'
  pull_request:
    # When PRs are opened or updated, run tests on the merge commit
    # for branches that would be merged into master.
    branches: [ master ]
    paths-ignore:
      - '**.md'


jobs:
  build:

    runs-on: ubuntu-18.04
    strategy:
      matrix:
        python-version: [3.7]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test with custom validation script
      run: |
        python validate.py
